<div class="jumbotron">
  <div class="container">
  <h1>Ruby on Rails for beginners 2017.</h2>
  <p>Web shop demo application.</p>
  <p>You can choose from <%= @brojProizvoda %> different products! <%= link_to 'Start shopping now.', products_path %>
</p>
</div>
</div>
